Repository LHJE/monster_shop_2005, pull requests merged in 2020-09, with the labels that each got.

#60 User registration us10
  Gemfile
  Gemfile.lock
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/layouts/application.html.erb
  app/views/users/_form.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  db/migrate/20200909205639_create_users.rb
  db/migrate/20200909211312_add_email_to_users.rb
  db/schema.rb
  db/seeds.rb
  spec/features/users/registration_spec.rb
  spec/models/user_spec.rb
Labels: Reviewer merges user_registration, author signs off on merge

#61 User registration us11
  app/controllers/users_controller.rb
  spec/features/users/registration_spec.rb
Labels: Reviewer merges user_registration

#65 User registration us12
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/users/_form.html.erb
  app/views/users/new.html.erb
  config/routes.rb
  spec/features/users/registration_spec.rb
  spec/models/user_spec.rb
Labels: author resolved conversation, author signs off on merge

#66 User registration
  Gemfile
  Gemfile.lock
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/layouts/application.html.erb
  app/views/users/_form.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  db/migrate/20200909205639_create_users.rb
  db/migrate/20200909211312_add_email_to_users.rb
  db/schema.rb
  db/seeds.rb
  spec/features/users/registration_spec.rb
  spec/models/user_spec.rb
Labels: Reviewer merges development

#67 Loginlogout us13
  app/controllers/admin/base_controller.rb
  app/controllers/admin/dashboard_controller.rb
  app/controllers/application_controller.rb
  app/controllers/merchants/base_controller.rb
  app/controllers/merchants/dashboard_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/admin/dashboard/index.html.erb
  app/views/layouts/application.html.erb
  app/views/merchants/dashboard/index.html.erb
  app/views/sessions/new.html.erb
  config/routes.rb
  db/migrate/20200910225951_add_role_to_users.rb
  db/migrate/20200910230941_update_role_to_users.rb
  db/schema.rb
  spec/features/users/login_spec.rb
  spec/models/user_spec.rb
Labels: reviewer added line comments

#69 Loginlogout us15
  app/controllers/sessions_controller.rb
  spec/features/users/login_spec.rb
Labels: reviewer merges to loginlogout

#72 Loginlogout us16
  app/controllers/sessions_controller.rb
  app/controllers/welcome_controller.rb
  app/models/cart.rb
  app/views/layouts/application.html.erb
  app/views/welcome/index.html.erb
  config/routes.rb
  spec/features/users/logout_spec.rb
  spec/models/cart_spec.rb
Labels: author resolved conversation, author signs off on merge

#73 Login logout
  app/assets/stylesheets/application.css
  app/controllers/admin/base_controller.rb
  app/controllers/admin/dashboard_controller.rb
  app/controllers/application_controller.rb
  app/controllers/merchants/base_controller.rb
  app/controllers/merchants/dashboard_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/controllers/welcome_controller.rb
  app/models/cart.rb
  app/models/user.rb
  app/views/admin/dashboard/index.html.erb
  app/views/layouts/application.html.erb
  app/views/merchants/dashboard/index.html.erb
  app/views/sessions/new.html.erb
  app/views/welcome/index.html.erb
  config/routes.rb
  db/migrate/20200910225951_add_role_to_users.rb
  db/migrate/20200910230941_update_role_to_users.rb
  db/schema.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
  spec/models/cart_spec.rb
  spec/models/user_spec.rb
Labels: Reviewer merges development

#75 Navigation us3
  app/assets/stylesheets/application.css
  app/controllers/admin/base_controller.rb
  app/controllers/admin/dashboard_controller.rb
  app/controllers/application_controller.rb
  app/controllers/merchants/base_controller.rb
  app/controllers/merchants/dashboard_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/controllers/welcome_controller.rb
  app/models/cart.rb
  app/models/user.rb
  app/views/admin/dashboard/index.html.erb
  app/views/layouts/application.html.erb
  app/views/merchants/dashboard/index.html.erb
  app/views/sessions/new.html.erb
  app/views/welcome/index.html.erb
  config/routes.rb
  db/migrate/20200910225951_add_role_to_users.rb
  db/migrate/20200910230941_update_role_to_users.rb
  db/schema.rb
  spec/features/navigation_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
  spec/models/cart_spec.rb
  spec/models/user_spec.rb
Labels: reviewer merges to navigation

#76 Navigation us5
  app/views/layouts/application.html.erb
  spec/features/cart/add_spec.rb
  spec/features/navigation_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
Labels: reviewer merges to navigation

#79 Navigation us7
  app/controllers/admin_controller.rb
  app/controllers/merchants_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/welcome_controller.rb
  app/views/admin/index.html.erb
  config/routes.rb
  spec/features/merchants/destroy_spec.rb
  spec/features/merchants/edit_spec.rb
  spec/features/merchants/index_spec.rb
  spec/features/merchants/new_spec.rb
  spec/features/merchants/show_spec.rb
  spec/features/merchants/statistics_spec.rb
  spec/features/navigation_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
Labels: reviewer merges to navigation

#77 Navigation us2
  app/views/layouts/application.html.erb
  spec/features/navigation_spec.rb
Labels: reviewer merges to navigation

#80 Navigation us9
  app/controllers/cart/base_controller.rb
  app/controllers/cart_controller.rb
  spec/features/navigation_spec.rb
Labels: reviewer merges to navigation

#81 Navigation us6
  app/controllers/application_controller.rb
  app/controllers/users_controller.rb
  app/views/layouts/application.html.erb
  app/views/users/show.html.erb
  spec/features/navigation_spec.rb
Labels: reviewer merges to navigation

#82 Add test for sad path access restrictions for merchant visiting admin
  spec/features/navigation_spec.rb
Labels: reviewer merges to navigation

#83 Navigation polish
  app/controllers/merchants_controller.rb
  config/routes.rb
  spec/features/navigation/admin_nav_spec.rb
  spec/features/navigation/merchant_nav_spec.rb
  spec/features/navigation/navigation_spec.rb
  spec/features/navigation/regular_user_nav_spec.rb
  spec/features/navigation/visitor_nav_spec.rb
  spec/features/navigation_spec.rb
  spec/features/users/login_spec.rb
Labels: reviewer merges to navigation

#85 Navigation Milestone
  app/controllers/admin_controller.rb
  app/controllers/application_controller.rb
  app/controllers/cart/base_controller.rb
  app/controllers/cart_controller.rb
  app/controllers/merchants_controller.rb
  app/controllers/users_controller.rb
  app/views/admin/index.html.erb
  app/views/layouts/application.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  spec/features/cart/add_spec.rb
  spec/features/merchants/destroy_spec.rb
  spec/features/merchants/edit_spec.rb
  spec/features/merchants/index_spec.rb
  spec/features/merchants/new_spec.rb
  spec/features/merchants/show_spec.rb
  spec/features/merchants/statistics_spec.rb
  spec/features/navigation/admin_nav_spec.rb
  spec/features/navigation/merchant_nav_spec.rb
  spec/features/navigation/navigation_spec.rb
  spec/features/navigation/regular_user_nav_spec.rb
  spec/features/navigation/visitor_nav_spec.rb
  spec/features/navigation_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
Labels: Reviewer merges development

#86 Items us17
  app/controllers/items_controller.rb
  app/models/item.rb
  app/views/items/index.html.erb
  spec/features/items/index_spec.rb
  spec/models/item_spec.rb
Labels: Reviewer merges to items

#88 User profile page us19
  app/views/users/show.html.erb
  spec/features/users/profile_spec.rb
Labels: reviewer merges user_profile_page

#90 User profile page us20
  app/controllers/application_controller.rb
  app/controllers/users_controller.rb
  app/views/users/_form.html.erb
  app/views/users/edit.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  spec/features/users/edit_spec.rb
  spec/features/users/profile_spec.rb
Labels: reviewer merges user_profile_page

#92 User profile page us21
  .rspec
  Gemfile
  Gemfile.lock
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/users/change_password.html.erb
  app/views/users/show.html.erb
  spec/features/users/edit_spec.rb
  spec/features/users/profile_spec.rb
Labels: reviewer merges to user_profile_page

#87 Create pull request template
  pull_request_template.md
Labels: Needs Review

#94 Shopping cart us23
  app/controllers/cart_controller.rb
  app/models/cart.rb
  app/views/cart/show.html.erb
  app/views/items/show.html.erb
  config/routes.rb
  spec/features/cart/add_spec.rb
  spec/features/orders/new_spec.rb
  spec/models/cart_spec.rb
Labels: Review merges to shopping_cart

#95 User profile page
  .rspec
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/users/_form.html.erb
  app/views/users/change_password.html.erb
  app/views/users/edit.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  spec/features/users/edit_spec.rb
  spec/features/users/profile_spec.rb
Labels: Reviewer merges development

#98 Items us18
  app/controllers/items_controller.rb
  app/models/item.rb
  app/models/item_order.rb
  app/models/merchant.rb
  app/models/user.rb
  app/views/items/index.html.erb
  app/views/layouts/application.html.erb
  db/migrate/20200915164619_add_merchant_to_users.rb
  db/schema.rb
  db/seeds.rb
  spec/features/items/index_spec.rb
  spec/features/items/merchant_items_index_spec.rb
  spec/models/item_orders_spec.rb
  spec/models/item_spec.rb
  spec/models/merchant_spec.rb
  spec/models/user_spec.rb
Labels: Reviewer merges to items

#99 Merchant index us38
  app/controllers/application_controller.rb
  app/controllers/merchants_controller.rb
  app/views/merchants/index.html.erb
  config/routes.rb
  db/migrate/20200915024033_add_column_to_merchants.rb
  db/schema.rb
  db/seeds.rb
  spec/features/merchants/index_spec.rb
Labels: reviewer added line comments

#91 Shopping cart us25
  app/views/cart/show.html.erb
  db/seeds.rb
  spec/features/cart/checkout_spec.rb
  spec/features/items/index_spec.rb
Labels: Review merges to shopping_cart, reviewer resolved conversations

#104 Shopping cart us26
  .rspec
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/orders_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/models/order.rb
  app/models/user.rb
  app/views/cart/show.html.erb
  app/views/users/_form.html.erb
  app/views/users/change_password.html.erb
  app/views/users/edit.html.erb
  app/views/users/new.html.erb
  app/views/users/order.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  db/migrate/20200915150522_add_user_to_orders.rb
  db/migrate/20200915162546_add_status_to_orders.rb
  db/schema.rb
  db/seeds.rb
  spec/features/cart/add_spec.rb
  spec/features/cart/checkout_spec.rb
  spec/features/cart/remove_item_spec.rb
  spec/features/cart/show_spec.rb
  spec/features/items/destroy_spec.rb
  spec/features/items/edit_spec.rb
  spec/features/items/index_spec.rb
  spec/features/items/merchant_items_index_spec.rb
  spec/features/items/new_spec.rb
  spec/features/items/show_spec.rb
  spec/features/merchants/destroy_spec.rb
  spec/features/merchants/edit_spec.rb
  spec/features/merchants/index_spec.rb
  spec/features/merchants/new_spec.rb
  spec/features/merchants/show_spec.rb
  spec/features/merchants/statistics_spec.rb
  spec/features/navigation/admin_nav_spec.rb
  spec/features/navigation/merchant_nav_spec.rb
  spec/features/navigation/regular_user_nav_spec.rb
  spec/features/orders/creation_spec.rb
  spec/features/orders/new_spec.rb
  spec/features/reviews/destroy_spec.rb
  spec/features/reviews/edit_spec.rb
  spec/features/reviews/new_spec.rb
  spec/features/reviews/stats_spec.rb
  spec/features/users/edit_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
  spec/features/users/profile_spec.rb
  spec/features/users/registration_spec.rb
  spec/models/item_orders_spec.rb
  spec/models/item_spec.rb
  spec/models/merchant_spec.rb
  spec/models/order_spec.rb
  spec/models/user_spec.rb
Labels: Review merges to shopping_cart

#103 Items
  app/controllers/items_controller.rb
  app/models/item.rb
  app/models/item_order.rb
  app/models/merchant.rb
  app/models/user.rb
  app/views/items/index.html.erb
  app/views/layouts/application.html.erb
  db/migrate/20200915164619_add_merchant_to_users.rb
  db/schema.rb
  db/seeds.rb
  spec/features/items/index_spec.rb
  spec/features/items/merchant_items_index_spec.rb
  spec/models/item_orders_spec.rb
  spec/models/item_spec.rb
  spec/models/merchant_spec.rb
  spec/models/user_spec.rb
Labels: Reviewer merges development

#106 Shopping cart
  app/controllers/cart_controller.rb
  app/controllers/items_controller.rb
  app/controllers/orders_controller.rb
  app/controllers/users_controller.rb
  app/models/cart.rb
  app/models/order.rb
  app/models/user.rb
  app/views/cart/show.html.erb
  app/views/items/show.html.erb
  app/views/users/order.html.erb
  config/routes.rb
  db/migrate/20200915150522_add_user_to_orders.rb
  db/migrate/20200915162546_add_status_to_orders.rb
  db/schema.rb
  db/seeds.rb
  spec/features/cart/add_spec.rb
  spec/features/cart/checkout_spec.rb
  spec/features/cart/remove_item_spec.rb
  spec/features/cart/show_spec.rb
  spec/features/items/destroy_spec.rb
  spec/features/items/edit_spec.rb
  spec/features/items/index_spec.rb
  spec/features/items/merchant_items_index_spec.rb
  spec/features/items/new_spec.rb
  spec/features/items/show_spec.rb
  spec/features/merchants/destroy_spec.rb
  spec/features/merchants/edit_spec.rb
  spec/features/merchants/index_spec.rb
  spec/features/merchants/new_spec.rb
  spec/features/merchants/show_spec.rb
  spec/features/merchants/statistics_spec.rb
  spec/features/navigation/admin_nav_spec.rb
  spec/features/navigation/merchant_nav_spec.rb
  spec/features/navigation/regular_user_nav_spec.rb
  spec/features/orders/creation_spec.rb
  spec/features/orders/new_spec.rb
  spec/features/reviews/destroy_spec.rb
  spec/features/reviews/edit_spec.rb
  spec/features/reviews/new_spec.rb
  spec/features/reviews/stats_spec.rb
  spec/features/users/edit_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
  spec/features/users/profile_spec.rb
  spec/features/users/registration_spec.rb
  spec/models/cart_spec.rb
  spec/models/item_orders_spec.rb
  spec/models/item_spec.rb
  spec/models/merchant_spec.rb
  spec/models/order_spec.rb
  spec/models/user_spec.rb
Labels: Reviewer merges development

#108 Merchant index us39
  app/controllers/merchants_controller.rb
  app/models/merchant.rb
  app/views/merchants/index.html.erb
  spec/features/merchants/index_spec.rb
  spec/models/merchant_spec.rb
Labels: reviewer merges to merchant index

#111 Order show us27
  app/models/user.rb
  app/views/users/show.html.erb
  db/schema.rb
  db/seeds.rb
  spec/features/users/profile_spec.rb
  spec/models/user_spec.rb
Labels: reviewer merges to order_show

#110 Merchant index
  app/controllers/application_controller.rb
  app/controllers/merchants_controller.rb
  app/models/merchant.rb
  app/views/merchants/index.html.erb
  config/routes.rb
  db/migrate/20200915024033_add_column_to_merchants.rb
  db/schema.rb
  db/seeds.rb
  spec/features/merchants/index_spec.rb
  spec/models/merchant_spec.rb
Labels: Reviewer merges development

#112 Order show us28
  app/models/order.rb
  app/views/users/order.html.erb
  db/schema.rb
  spec/features/users/profile/orders/index_spec.rb
  spec/features/users/profile/orders/merchants/destroy_spec.rb
  spec/features/users/profile/orders/merchants/edit_spec.rb
  spec/features/users/profile/orders/merchants/index_spec.rb
  spec/features/users/profile/orders/merchants/new_spec.rb
  spec/features/users/profile/orders/merchants/show_spec.rb
  spec/features/users/profile/orders/merchants/statistics_spec.rb
  spec/features/users/profile/show_spec.rb
  spec/models/order_spec.rb
Labels: reviewer merges to order_show

#113 Merchant dashboard us34 luke
  app/controllers/merchant/dashboard_controller.rb
  app/views/merchant/dashboard/index.html.erb
  db/seeds.rb
  spec/features/cart/add_spec.rb
  spec/features/merchant/show_spec.rb
  spec/features/merchants/destroy_spec.rb
  spec/features/merchants/edit_spec.rb
  spec/features/merchants/index_spec.rb
  spec/features/merchants/new_spec.rb
  spec/features/merchants/show_spec.rb
  spec/features/merchants/statistics_spec.rb
  spec/features/navigation/merchant_nav_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/logout_spec.rb
  spec/models/user_spec.rb
Labels: Reviewer merges to merchant dashboard

#119 Order status attr
  app/models/order.rb
  db/migrate/20200917144427_remove_status_from_orders.rb
  db/migrate/20200917144652_add_status_enum_to_orders.rb
  db/schema.rb
  spec/features/cart/checkout_spec.rb
  spec/models/order_spec.rb
Labels: Reviewer merges development

#116 Merchant dashboard us35 luke
  app/controllers/merchant/dashboard_controller.rb
  app/views/merchant/dashboard/index.html.erb
  db/seeds.rb
  spec/features/merchant/show_spec.rb
Labels: Reviewer merges to merchant dashboard

#120 Merchant dashboard us36
  app/controllers/merchant/dashboard_controller.rb
  app/views/merchant/dashboard/index.html.erb
  app/views/merchant/dashboard/items.html.erb
  config/routes.rb
  spec/features/merchant/show_spec.rb
Labels: Reviewer merges to merchant dashboard

#121 Merchant dashboard us37
  app/controllers/admin/dashboard_controller.rb
  app/views/admin/dashboard/merchant.html.erb
  app/views/admin/dashboard/merchant_items.html.erb
  app/views/merchants/index.html.erb
  config/routes.rb
  spec/features/merchant/show_spec.rb
Labels: Reviewer merges to merchant dashboard

#125 Order show us31
  app/models/order.rb
  spec/features/users/profile/orders/index_spec.rb
  spec/models/order_spec.rb
Labels: author resolved conversation

#126 Order show
  app/assets/stylesheets/application.css
  app/controllers/orders_controller.rb
  app/controllers/users/orders_controller.rb
  app/controllers/users_controller.rb
  app/models/item_order.rb
  app/models/order.rb
  app/models/user.rb
  app/views/orders/show.html.erb
  app/views/users/order.html.erb
  app/views/users/orders/index.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  db/migrate/20200917184826_add_fulfilled_to_item_orders.rb
  db/migrate/20200917185529_change_fulfilled_default_on_item_orders.rb
  db/schema.rb
  db/seeds.rb
  spec/features/cart/checkout_spec.rb
  spec/features/orders/show_spec.rb
  spec/features/users/profile/orders/index_spec.rb
  spec/features/users/profile/show_spec.rb
  spec/models/item_orders_spec.rb
  spec/models/order_spec.rb
  spec/models/user_spec.rb
Labels: author resolved conversation, author signs off on merge

#130 Merchant items
  app/controllers/items_controller.rb
  app/controllers/merchant/items_controller.rb
  app/models/item.rb
  app/views/layouts/application.html.erb
  app/views/merchant/dashboard/items.html.erb
  app/views/merchant/items/index.html.erb
  config/routes.rb
  spec/features/merchants/items/index_spec.rb
  spec/features/navigation/merchant_nav_spec.rb
  spec/models/item_spec.rb
Labels: reviewer merges to development

#118 Readme
  README.md
  app/assets/images/logo.png
  app/assets/images/schema.png
  app/assets/stylesheets/application.css
  app/views/welcome/index.html.erb
Labels: reviewer merges to development

#133 Remove extra logo from README
  README.md
Labels: reviewer merges main, reviewer signs off on review
